.signInContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signInButton {
  padding: 10px 20px;
  background-color: #4285F4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
